services:
  mysqldb:
    image: mysql:8.4
    environment:
      MYSQL_ROOT_PASSWORD: root
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 5
    ports:
      - "3306:3306"
    volumes:
      - ./mysql-init:/docker-entrypoint-initdb.d
      - mysql-data:/var/lib/mysql
    networks:
      - micro-network

  config-service:
    build: ./config-service
    ports:
      - "8888:8888"
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "wget --no-verbose --tries=1 --spider http://localhost:8888/actuator/health || exit 1",
        ]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - micro-network

  discovery-service:
    build: ./discovery-service
    ports:
      - "8761:8761"
    depends_on:
      config-service:
        condition: service_healthy
    environment:
      SPRING_MAIN_LAZY_INITIALIZATION: "true"
      SPRING_CONFIG_IMPORT: configserver:http://config-service:8888

    networks:
      - micro-network

  customer-service:
    build: ./customer-service
    ports:
      - "8081:8081"
    depends_on:
      config-service:
        condition: service_healthy
      mysqldb:
        condition: service_healthy
      discovery-service:
        condition: service_started
    environment:
      SPRING_MAIN_LAZY_INITIALIZATION: "true"
      SPRING_CONFIG_IMPORT: configserver:http://config-service:8888
      eureka.client.serviceUrl.defaultZone: http://discovery-service:8761/eureka/
      eureka.instance.prefer-ip-address: "true"
    networks:
      - micro-network

  order-service:
    build: ./order-service
    depends_on:
      config-service:
        condition: service_healthy
      mysqldb:
        condition: service_healthy
      discovery-service:
        condition: service_started
    environment:
      SPRING_MAIN_LAZY_INITIALIZATION: "true"
      SPRING_CONFIG_IMPORT: configserver:http://config-service:8888
      eureka.client.serviceUrl.defaultZone: http://discovery-service:8761/eureka/
      eureka.instance.prefer-ip-address: "true"
    ports:
      - "8083:8083"
    networks:
      - micro-network

  product-service:
    build: ./product-service
    depends_on:
      config-service:
        condition: service_healthy
      mysqldb:
        condition: service_healthy
      discovery-service:
        condition: service_started
    ports:
      - "8082:8082"
    environment:
      SPRING_MAIN_LAZY_INITIALIZATION: "true"
      SPRING_CONFIG_IMPORT: configserver:http://config-service:8888
      eureka.client.serviceUrl.defaultZone: http://discovery-service:8761/eureka/
      eureka.instance.prefer-ip-address: "true"
    networks:
      - micro-network

networks:
  micro-network:
    driver: bridge

volumes:
  mysql-data:
