services:
  mysqldb:
    image: mysql:8.4
    environment:
      MYSQL_ROOT_PASSWORD: root
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 5
    ports:
      - "3306:3306"
    volumes:
      - ./mysql-init:/docker-entrypoint-initdb.d
      - mysql-data:/var/lib/mysql
    networks:
      - micro-network

  config-service:
    build: ./config-service
    ports:
      - "8888:8888"
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "wget --no-verbose --tries=1 --spider http://localhost:8888/actuator/health || exit 1",
        ]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - micro-network

  discovery-service:
    build: ./discovery-service
    ports:
      - "8761:8761"
    depends_on:
      config-service:
        condition: service_healthy
    environment:
      SPRING_MAIN_LAZY_INITIALIZATION: "true"
      SPRING_CONFIG_IMPORT: configserver:http://config-service:8888

    networks:
      - micro-network

  customer-service:
    build: ./customer-service
    ports:
      - "8081:8081"
    depends_on:
      config-service:
        condition: service_healthy
      mysqldb:
        condition: service_healthy
      discovery-service:
        condition: service_started
    environment:
      SPRING_MAIN_LAZY_INITIALIZATION: "true"
      SPRING_CONFIG_IMPORT: configserver:http://config-service:8888
      eureka.client.serviceUrl.defaultZone: http://discovery-service:8761/eureka/
      eureka.instance.prefer-ip-address: "true"
    networks:
      - micro-network

  order-service:
    build: ./order-service
    depends_on:
      config-service:
        condition: service_healthy
      mysqldb:
        condition: service_healthy
      discovery-service:
        condition: service_started
      kafka:
        condition: service_healthy

    environment:
      SPRING_MAIN_LAZY_INITIALIZATION: "true"
      SPRING_CONFIG_IMPORT: configserver:http://config-service:8888
      eureka.client.serviceUrl.defaultZone: http://discovery-service:8761/eureka/
      eureka.instance.prefer-ip-address: "true"
    ports:
      - "8083:8083"
    networks:
      - micro-network

  payment-service:
    build: ./payment-service
    depends_on:
      config-service:
        condition: service_healthy
      mysqldb:
        condition: service_healthy
      discovery-service:
        condition: service_started
      kafka:
        condition: service_healthy

    environment:
      SPRING_MAIN_LAZY_INITIALIZATION: "true"
      SPRING_CONFIG_IMPORT: configserver:http://config-service:8888
      eureka.client.serviceUrl.defaultZone: http://discovery-service:8761/eureka/
      eureka.instance.prefer-ip-address: "true"
    ports:
      - "8084:8084"
    networks:
      - micro-network

  product-service:
    build: ./product-service
    depends_on:
      config-service:
        condition: service_healthy
      mysqldb:
        condition: service_healthy
      discovery-service:
        condition: service_started
    ports:
      - "8082:8082"
    environment:
      SPRING_MAIN_LAZY_INITIALIZATION: "true"
      SPRING_CONFIG_IMPORT: configserver:http://config-service:8888
      eureka.client.serviceUrl.defaultZone: http://discovery-service:8761/eureka/
      eureka.instance.prefer-ip-address: "true"
    networks:
      - micro-network

  zookeeper:
    image: confluentinc/cp-zookeeper:7.5.0
    container_name: zookeeper
    environment:
      ZOOKEEPER_SERVER_ID: 1
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000

    ports:
      - 22181:2181
    networks:
      - micro-network

  kafka:
    image: confluentinc/cp-kafka:7.5.0
    container_name: kafka
    environment:
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT , PLAINTEXT_HOST:PLAINTEXT

    ports:
      - "9092:9092"
    depends_on:
      - zookeeper
    healthcheck:
      test:
        ["CMD", "kafka-topics", "--bootstrap-server", "kafka:9092", "--list"]
      interval: 10s
      retries: 10
    networks:
      - micro-network

networks:
  micro-network:
    driver: bridge

volumes:
  mysql-data:
